@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #6000F0;
    --txt-primary: #DE00FA;
    --txt-secondary: #00CBFF;
    --bg-main: #1c1d25;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    color: white;
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.section-margin {
    margin: 40px 0;
}

.section-title {
    color: var(--txt-secondary);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.75rem;
}

.text--primary {
    color: var(--txt-primary);
}

.text--secondary {
    color: var(--txt-secondary);
}

.btn {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 20px 50px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

/* Navbar */

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

/* End of Navbar */

/* Hero Section */

.hero {
    font-size: 1.75rem;
    width: 55%;
}

.hero-main__top {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.hero-main {
    margin: 20px 0;
}

.hero-main__name {
    font-size: 3.5rem;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.hero-main__job .text--primary {
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
}

.hero-desc {
    margin: 50px 0;
    line-height: 2.5rem;
}

.hero-desc .text--primary {
    font-weight: 600;
}

.hero a {
    text-decoration: none;
}

.hero-desc a:hover {
    text-decoration: underline;
}

.hero .btn--contact {
    transition: .5s all ease;
}

.hero .btn--contact:hover {
    color: var(--txt-primary);
    border-color: var(--txt-primary);
}

/* End of Hero Section */

/* Styles for both Projects Sections */
.title-container i {
    transform: translate(-30px, 10px);
    display: inline-block;
    position: absolute;
}

.title-container .project-info__title {
    display: inline;
}

.projects {
    margin: 20px 0;
}

.project {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.project-info {
    flex: 4;
}

.project-img {
    flex: 6;
}

.project-info > * {
    margin: 20px 0;
}

.project-info .title-container {
    margin-top: 0;
}

.project-info__title {
    font-size: 1.75rem;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.project-info__desc {
    font-size: 1.25rem;
}

.project-info__link {
    font-size: 1.5rem;
    padding: 15px 40px;
    transition: .5s ease all;
}

.project-info__link:hover {
    color: var(--txt-primary);
    border-color: var(--txt-primary);
}

.project-img {
    display: flex;
    gap: 20px;
}

.project-img img {
    width: 275px;
}

.project-img p {
    margin: 10px 0;
}

/* End of Styles for both Projects Sections */

/* HTML/CSS Projects Section */
#margin-top-55px {
    margin-top: 55px;
}
/* End of HTML/CSS Projects Section */

/* Photoshop Projects Section */

/* End of Photoshop Projects Section */

/* Media Queries */

@media (max-width: 1300px) {
    .project-img img {
        width: 225px;
    }
}

@media (max-width: 1120px) {
    .projects-section--photoshop .project-info__link {
        width: 200px;
        margin: 5px 0;
    }
}

@media (max-width: 1050px) {
    .hero {
        width: 65%;
    }
}

@media (max-width: 950px) {
    .title-container i {
        display: none;
    }

    .project {
        flex-direction: column;
        gap: 20px;
    }

    .section-margin {
        margin: 30px auto;
    }
}

@media (min-width: 850px) and (max-width: 1050px) {
    .hero {
        width: 80%;
    }
}

@media (max-width: 850px) {
    .hero {
        margin: 0 auto;
        width: 90%;
    }

    section {
        width: 90%;
    }

    .nav-list {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .hero-desc {
        margin: 40px 0;
    }

    .project {
        margin: 5px 0;
    }

    .project-info__title {
        line-height: 2.5rem;
    }

    .projects-section--photoshop .project-info__links {
        text-align: center;
    }

    .project-img {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .hero-main__name {
        line-height: 4rem;
    }
}

@media (max-width: 380px) {
    .projects-section--web .project-info__link {
        width: 200px;
        margin: 5px 0;
    }
}

@media (max-width: 370px) {
    .nav-list {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    .one-word {
        overflow-wrap: anywhere;
    }
}

